<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedule.app.repository.ScheduleSearchMapper">

    <!-- readDefaultScheduleRecord -->
   <select id="readDefaultScheduleRecord" resultType="com.schedule.app.record.output.DefaultScheduleOutputRecord">
        SELECT
            u.user_id AS userId,
            ds.id,
            ds.start_time AS startTime,
            ds.end_time AS endTime,
            ds.start_date AS startDate,
            ds.end_date AS endDate,
            st.work_type_name AS worktypeName,
            st.work_type_color AS worktypeColor
        FROM
            users AS u
        LEFT JOIN
            default_schedule AS ds ON ds.user_id = u.user_id
            <if test="from != null">
                AND ds.end_date &gt;= #{from}
            </if>
            <if test="to != null">
                AND ds.start_date &lt;= #{to}
            </if>
        JOIN
            schedule_type AS st ON ds.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
        </where>
        ORDER BY 
            u.organization_code ASC,
            u.position_code ASC,
            u.name ASC
    </select>

    <!-- readRegularScheduleRecord -->
   <select id="readRegularScheduleRecord" resultType="com.schedule.app.record.output.RegularScheduleOutputRecord">
        SELECT
            u.user_id AS userId,
            rs.id,
            rs.start_time AS startTime,
            rs.end_time AS endTime,
            rs.start_date AS startDate,
            rs.end_date AS endDate,
            rs.days_of_week AS daysOfWeek,
            st.work_type_name AS worktypeName,
            st.work_type_color AS worktypeColor
        FROM
            users AS u
        LEFT JOIN
            regular_schedule AS rs ON rs.user_id = u.user_id
            <if test="from != null">
                AND rs.end_date &gt;= #{from}
            </if>
            <if test="to != null">
                AND rs.start_date &lt;= #{to}
            </if>
        JOIN
            schedule_type AS st ON rs.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                AND u.organization_code = #{organizationCode}
            </if>
        </where>
        ORDER BY 
            u.organization_code ASC,
            u.position_code ASC,
            u.name ASC
    </select>

    <!-- readIrregularScheduleRecord -->
    <select id="readIrregularScheduleRecord" resultType="com.schedule.app.record.output.IrregularScheduleOutputRecord">
        SELECT
            u.user_id AS userId,
            irs.id,
            irs.start_time AS startTime,
            irs.end_time AS endTime,
            irs.date,
            st.work_type_name AS worktypeName,
            st.work_type_color AS worktypeColor
        FROM
            users AS u
        LEFT JOIN
            irregular_schedule AS irs ON irs.user_id = u.user_id
            <if test="from != null">
                AND irs.date &gt;= #{from}
            </if>
            <if test="to != null">
                AND irs.date &lt;= #{to}
            </if>
        JOIN
            schedule_type AS st ON irs.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                AND u.organization_code = #{organizationCode}
            </if>
        </where>
        ORDER BY 
            u.organization_code ASC,
            u.position_code ASC,
            u.name ASC
    </select>
</mapper>