<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedule.app.repository.UserSearchMapper">
    <select id="readUserRecord" resultType="com.schedule.app.record.output.UserRecord">
        SELECT
            u.user_id AS userId,
            u.name,
            o.organization_name AS organizationName
        FROM
            users AS u
        JOIN
            organization AS o ON u.organization_code = o.organization_code
        <where>
            <!-- 退職日チェック: 退職日がnullまたはstartDate以降の人のみ -->
            AND (u.resignation_date IS NULL OR u.resignation_date >= #{from})
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                AND o.organization_code = #{organizationCode}
            </if>
        </where>
        ORDER BY 
            u.organization_code ASC,
            u.position_code ASC,
            u.name ASC
    </select>
</mapper>