<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedule.app.mapper.ScheduleSearchMapper">

    <!-- readDefaultScheduleRecord -->
    <resultMap id="DefaultScheduleMap" type="com.schedule.app.record.output.item.DefaultScheduleRecord">
        <id property="scheduleId" column="schedule_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="worktypeName" column="work_type_name"/>
        <result property="worktypeColor" column="work_type_color"/>
    </resultMap>

    <resultMap id="UserDefaultScheduleRecordMap" type="com.schedule.app.record.output.UserDefaultScheduleRecord">
        <collection property="defaultSchedules"
                    ofType="com.schedule.app.record.output.item.DefaultScheduleRecord"
                    resultMap="DefaultScheduleMap"/>
    </resultMap>

    <select id="readDefaultScheduleRecord" resultMap="UserDefaultScheduleRecordMap">
        SELECT
            u.user_id,
            ds.schedule_id,
            ds.start_time,
            ds.end_time,
            ds.start_date,
            ds.end_date,
            st.work_type_name,
            st.work_type_color
        FROM
            users AS u
        LEFT JOIN
            default_schedule AS ds ON ds.user_id = u.user_id
            <if test="startDate != null">
                AND ds.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND ds.start_date &lt;= #{endDate}
            </if>
        JOIN
            schedule_type AS st ON ds.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.user_name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
        </where>
    </select>

    <!-- readRegularScheduleRecord -->
    <resultMap id="RegularScheduleMap" type="com.schedule.app.record.output.item.RegularScheduleRecord">
        <id property="scheduleId" column="schedule_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="daysOfWeeks" column="days_of_weeks"/>
        <result property="intervalWeeks" column="interval_weeks"/>
        <result property="worktypeName" column="work_type_name"/>
        <result property="worktypeColor" column="work_type_color"/>
    </resultMap>

    <resultMap id="UserRegularScheduleRecordMap" type="com.schedule.app.record.output.UserRegularScheduleRecord">
        <collection property="regularSchedules"
                    ofType="com.schedule.app.record.output.item.RegularScheduleRecord"
                    resultMap="RegularScheduleMap"/>
    </resultMap>

    <select id="readRegularScheduleRecord" resultMap="UserRegularScheduleRecordMap">
        SELECT
            u.user_id,
            rs.schedule_id,
            rs.start_time,
            rs.end_time,
            rs.start_date,
            rs.end_date,
            rs.days_of_weeks,
            rs.interval_weeks,
            st.work_type_name,
            st.work_type_color
        FROM
            users AS u
        LEFT JOIN
            regular_schedule AS rs ON rs.user_id = u.user_id
            <if test="startDate != null">
                AND rs.end_date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND rs.start_date &lt;= #{endDate}
            </if>
        JOIN
            schedule_type AS st ON rs.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.user_name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                AND o.organization_code = #{organizationCode}
            </if>
        </where>
    </select>

    <!-- readIrregularScheduleRecord -->
    <resultMap id="IrregularScheduleMap" type="com.schedule.app.record.output.item.IrregularScheduleRecord">
        <id property="scheduleId" column="schedule_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="date" column="date"/>
        <result property="worktypeName" column="work_type_name"/>
        <result property="worktypeColor" column="work_type_color"/>
    </resultMap>

    <resultMap id="UserIrregularScheduleRecordMap" type="com.schedule.app.record.output.UserIrregularScheduleRecord">
        <collection property="irregularSchedules"
                    ofType="com.schedule.app.record.output.item.IrregularScheduleRecord"
                    resultMap="IrregularScheduleMap"/>
    </resultMap>

    <select id="readIrregularScheduleRecord" resultMap="UserIrregularScheduleRecordMap">
        SELECT
            is.schedule_id,
            is.start_time,
            is.end_time,
            is.date,
            st.work_type_name,
            st.work_type_color
        FROM
            users AS u
        LEFT JOIN
            irregular_schedule AS is ON is.user_id = u.user_id
            <if test="startDate != null">
                AND is.date &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND is.date &lt;= #{endDate}
            </if>
        JOIN
            schedule_type AS st ON is.work_type_id = st.id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="names != null">
                <foreach collection="names" item="name" open="AND (" separator="AND" close=")">
                    u.user_name LIKE CONCAT('%', #{name}, '%')
                </foreach>
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                AND o.organization_code = #{organizationCode}
            </if>
        </where>
    </select>
</mapper>