server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: root
    password: root
mybatis:
  mapper-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mapper/**/*.xml
